.title {
  margin-bottom: 2rem;
  margin-top: 52px;
  font-weight: 500;
  font-size: 30px;
  line-height: 44px;
}

.watermark {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 99;
  user-select: none;
  pointer-events: none;
}

@media screen and (max-width: 768px) {
  .title {
    margin-top: 0px!important;
  }
}