.container {
  width: 100%!important;
  max-width: 100%!important;
  height: fit-content!important;
  position: relative!important;
}

.container:hover > .controls {
  opacity: 1!important;
  visibility: visible!important;
}

.controls {
  position: absolute!important;
  opacity: 0!important;
  transition: 0.2s all ease-in-out!important;
  visibility: hidden!important;
  transform: translate(-100%, -50%)!important;
  top: 50%!important;
  height: 100%!important;
  justify-content: center!important;
  align-items: center!important;
  padding: 4px 12px!important;
  left: -16px!important;
  background: rgba(0,0,0,0.8)!important;
  border-radius: 8px!important;
  height: fit-content!important;
  box-sizing: border-box!important;
}

.controls_right {
  transform: translate(100%, -50%)!important;
  left: unset!important;
  right: -16px!important;
}

.iconButton {
  width: 32px!important;
  height: 32px!important;
  padding: 0px!important;
  min-width: 0!important;
  background: none!important;
}

.iconButton:hover svg {
  fill: rgb(32, 166, 219)!important;
}

.iconButton svg {
  fill: white!important;
}