.container {
  width: 100%!important;
  max-width: 100%!important;
  height: fit-content!important;
  position: relative!important;
}

.container.container_edit {
  box-shadow: 0px 0px 0px 0px white, 0px 0px 0px 0px #303030;
  transition: 0.2s ease;
}

.container:hover > .controls {
  opacity: 1!important;
  visibility: visible!important;
}

.container.container_edit:hover {
  box-shadow: 0px 0px 0px 4px white, 0px 0px 0px 5px #303030;
  border-radius: 4px;
}

.controls {
  position: absolute!important;
  opacity: 0!important;
  transition: 0.2s all ease-in-out!important;
  visibility: hidden!important;
  transform: translate(-100%, -50%)!important;
  top: 50%!important;
  height: 100%!important;
  justify-content: center!important;
  align-items: center!important;
  padding: 4px 12px!important;
  left: -20px!important;
  background: rgba(0,0,0,0.8)!important;
  border-radius: 8px!important;
  height: fit-content!important;
  box-sizing: border-box!important;
}

.controls::before {
  content: ' ';
  display: block;
  width: 30px;
  position: absolute;
  height: 0px;
  right: 0px;
  background: none;
  transform: translate(100%, 0px);
  border-left: 10px solid #303030;
  border-right: 0px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.controls.controls_right::before{
  content: ' ';
  display: block;
  width: 30px;
  position: absolute;
  height: 0px;
  left: 0px;
  background: none;
  transform: translate(-100%, 0px);
  border-right: 10px solid #303030;
  border-top: 10px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 10px solid transparent;
}

.controls_right {
  transform: translate(100%, -50%)!important;
  left: unset!important;
  right: -20px!important;
}

.iconButton {
  width: 32px!important;
  height: 32px!important;
  padding: 0px!important;
  min-width: 0!important;
  background: none!important;
}

.iconButton:hover svg {
  fill: rgb(32, 166, 219)!important;
}

.iconButton svg {
  fill: white!important;
}